<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoLUGucR9XEQFGdhzx3NTdka7zte3tvUE</string>
	<key>GCM_SENDER_ID</key>
	<string>431102053737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exercise.first.Navigation</string>
	<key>PROJECT_ID</key>
	<string>navigation-b92e6</string>
	<key>STORAGE_BUCKET</key>
	<string>navigation-b92e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431102053737:ios:48d551c6b68f768ddc01f8</string>
</dict>
</plist>